.order {
    &__table {
        background-color: white;
        width: 100%;
        margin: 15px auto;
        border-collapse: collapse;

        &__body {
            &:before {
                content: "-";
                display: block;
                line-height: 1em;
                color: transparent;
            }
        }

        &__body tr:nth-child(odd){
            background-color: ghostwhite;
        }
    }

    &__id {
        font-size:20px;
        margin-right:10px;
    }

    &__column {
        padding: 15px 10px 10px 10px;
        font-size: 13px;
    }

    &__header {
        text-align: left;
        padding: 5px;
    }

    &__button {
        padding: 5px;
        margin: 10px;
        width: 100px;
    }

    &--state-unconfirmed {
        color: white;
        background-color: red;
        padding: 5px;
        border: 1px solid lightyellow;
        font-size: 10px;
        text-align: center;
    }

    &--state-confirmed {
        color: white;
        background-color: green;
        padding: 5px;
        border: 1px solid lightyellow;
        font-size: 10px;
        text-align: center;
    }
}

.home__button {
    width: 50px;
}

.cool_delivery {
    color: white;
    background-color: darkturquoise;
    padding: 5px;
    border: 1px solid lightyellow;
    font-size: 10px;
    text-align: center;
}

.delivery_date {
    font-size: 11px;
}

.wine_code {
    width: 50px;
}

